.App {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 100%;
}

.calc-wrapper {
  width: 300px;
  height: 300px;
}
.row {
  display: flex;
  width: 100%;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  margin: 0;
}
footer a {
  color: white;
}
